<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DebugStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.aapswear.DEBUG_INJECT_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
